body {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    /* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */

}

#background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.main-container {
    position: absolute;
    width: 100%;
}

.aaron-logo {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    font-size: 36px;
    padding-top: 10px;

}

#logo {
    position: relative;
    width: 60%;
    margin: auto;
    max-width: 650px;
    z-index: -1;
}

.timer {
    text-align: center;
    font-size: 46px;
    /* color: #FEFEFE; */
    /* text-shadow: 4px 4px 2px black; */
    margin-bottom: 10px;

}

.qa-container {
    visibility: hidden;
    position: relative;
    text-align: center;
    /* color: #FEFEFE; */

    font-size: 28px;
    width: 70%;
    height: 300px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.question {
    position: relative;
    text-align: center;
    font-size: 36px;
    /* line-height: 200%; */
    padding-top: 40px;
    height: 150px;
    width: 100%;
}

.answers {
    position: relative;
    text-align: center;
    height: 150px;
    width: 100%;
}

.button {
    width: 150px;
    margin: auto;
}

#start {
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: blue;
    border-radius: 12px;
    color: #FCFCFC;
    box-shadow: 5px 10px 8px #3A3A3A;
}

.replay-button {
    width: 150px;
    margin: auto;
}

#playagain {
    width: 150px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    background-color: #848A8C;
    border-radius: 12px;
    color: #FCFCFC;
    box-shadow: 5px 10px 8px #3A3A3A;
}

.ans {
    cursor: pointer;
    line-height: 150%;
    margin: 10px;
}

.ans:hover {
    color: lightsteelblue;
}